::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: purple;
    border-radius: 10px;
}

body {
    background: #222;
    color: #fff;
}
.cursor-disabled {
    cursor: not-allowed;
    opacity: 55%;
}
nav {
    background: rgba(0, 0, 0, 0.18);
}
nav a {
    font-family: "CirM";
    color: #ee8cee;
}
nav .btn {
    font-family: "CirM";
    color: #ee8cee !important;
    border-color: #ee8cee !important;
    transform: translateY(-5px);
}
nav span {
    display: none !important;
    cursor: pointer;
    font-size: 2rem !important;
    transform: translateY(3px);
}
nav .btn:hover {
    background: initial !important;
}
.banner-image {
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100vh;
    /* background: url("https://cdn.midjourney.com/5f50139b-50ec-44ce-b1cb-342339a3517f/0_3.webp") center no-repeat; */
    background: url("https://cdn.midjourney.com/d4ec040c-4695-4352-9265-918218dc156b/0_2.png") center no-repeat;
    background-size: cover;
}

.items-container h1 {
    font-size: 1.7rem;
    font-family: "CirM";
}

.item-card p {
    margin-top: -100px !important;
    margin-left: 15px !important;
    font-size: 2rem;
    font-family: "Lastica";
    width: 250px;
    opacity: .8;
}
.banner-image h1 {
    font-family: "GOT";
}
.banner-image aside p {
    letter-spacing: 1px;
    font-family: "PAL";
    color: rgba(255, 255, 255, 0.71);
}
.banner-image aside button {
    letter-spacing: 1px;
    font-family: "CirM";
}
.item-card {
    transition: .3s;
}
.item-card:hover {
    scale: 1.1;
    cursor: pointer;
    box-shadow: 0 0 10px #555;
}
.modal-body h2 {
    font-family: "GOT";
    font-size: 1rem;
    color: rgb(161, 156, 156);
}
.modal-body p {
    font-family: "PAL";
    color: rgba(161, 156, 156, 0.87);
}
.modal-body .table th {
    font-family: "CirM";
    color: #985bb7;
}
.modal-body .table td {
    font-family: "CirL";
    //color: rgba(152, 91, 183, 0.95);
    color: rgba(255, 255, 255, 0.65);
}
.modal-body * { border: none; }
.modal-body .table tr:nth-child(odd) td {
    background-color: #333 !important;
}
.modal-body h3 {
    background: #333;
    font-family: "CirM";
    margin-top: 2px;
}
tr a {
    color: rgba(211, 119, 211, 0.89);
}
tr a span {
    font-size:1.0rem !important;
    vertical-align: -3px !important;
}
.nav-phone {
    top: 80px;
    background: rgba(0, 0, 0, 0.61);
    width: 100%;
    padding: 30px 0;
    transition: 1s;
}
.nav-phone a {
    text-align: center;
    margin: auto;
    display: block;
}
.login {
    overflow-y: auto;
    overflow-x: hidden;
    z-index: -1;
    background: url("https://cdn.midjourney.com/6edba3f4-8dfb-468c-bd24-5a8683ff36b5/0_0.png") center no-repeat;
    background-size: cover;
    padding-top: 6%;
}
.login input::placeholder,
.login textarea::placeholder {
    color: #a668c5 !important;
}
footer p {
    font-family: "CirM";
    letter-spacing: 1px;
    color: #985bb7;
}
.swap-sign {
    cursor: pointer;
    color: violet;
}
.login input {
    border-color: #985bb7;
}
.login legend {
    font-size: 3rem;
    font-family: "GOT";
    letter-spacing: 1px;
    color: violet;
}
.login label {
    font-family: "CirM";
    color: #a668c5;
}